@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;300;500;700&family=Tilt+Neon&display=swap');


*{font-family: 'Raleway', sans-serif;
    font-family: 'Tilt Neon', cursive;
box-sizing:border-box ;
padding: 0;
margin: 0}

body{background-color: rgb(235, 235, 235);}
    
header{display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(173, 200, 224);
}

h2{color: #ca00ca;;
font-size: 40px;}
    
nav{display: flex;
    gap: 50px;
}

nav a{color: white;
text-decoration: none;
font-size: 23px;}

.caja{width: 600px;
     height: 200px;
    background-color: rgb(173, 200, 224);
    border: 3px black solid;
    border-radius: 3px;
    padding: 10px 15px;
    margin: 20px 50px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.caja h2{color: black;
font-weight: 100;
-webkit-text-stroke: 1px rgb(95, 95, 95);
letter-spacing: 3px;
word-spacing: 5px;

}

.container{
    margin: 0 auto;
    width: 70%;
}

.flex{
    display:flex;
    flex-wrap: wrap;
}

.text-center{
    text-align: center;
}

.precio{
    font-size: 50px;
    color: #e28418;
}

.columna{
    background: #d4d6ca ;
    color: #333;
    border: 1px solid #333;
    margin: 0 auto;
    padding: 10px;
    border-radius: 7px;
    box-shadow: 5px 5px 8px rgb(150, 150, 150);
    width: 23%;
    box-sizing: border-box;
}

.verprecio{
    background: salmon;
    display: block;
    padding: 10px;
    color: white;
    text-decoration: none;
    border-radius: 4px;
}

.verprecio:hover{
    background: rgb(255, 84, 65);
}

@media (max-width: 1070px){
.columna{width: 45%;
margin-bottom: 20px;}

}

@media (max-width: 600px){
    .columna{width: 100%;
    margin-bottom: 20px;}
    
    }